.contenedor {
  display: flex;
  width: 100%;
  height: auto; /* O la altura que prefieras */
  padding: 20px;
  box-sizing: border-box;
  }

  
  .ver-alumnos {
    flex: 0 0 60%; /* Fija el ancho al 60% */
    background-color: #ffffff; /* Color de fondo opcional para visualizar */
    padding: 15px; /* Agrega espacio interno */
    overflow-y: auto; /* Habilita el scroll si el contenido es muy alto */
  }
  
  .add-alumnos {
    flex: 1; /* Toma el espacio restante (40%) */
    background-color: #ffffff; /* Color de fondo opcional para visualizar */
    padding: 15px; /* Agrega espacio interno */
    overflow-y: auto; /* Habilita el scroll si el contenido es muy alto */
  }
  