
    @if (cumpleanieros.length > 0) {
        <div class="cumples-container"> 
    
        @for (cumple of cumpleanieros; track $index) {
            <div>
            <mat-card class="birthday-card">
            
                <mat-card-content>
                  <p>Hoy es el cumpleaños de {{ cumple.nombre }} .</p>
                    <p>({{cumple.tipo}})</p>
                </mat-card-content>
            
                <mat-card-actions>
                  <button mat-button color="primary" (click)="abrirWhatsApp(cumple.celular)">
                    <mat-icon>message</mat-icon> Enviar mensaje
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
        }  
    </div>   
} 

